# Challenge 2 - ANOVA

In statistics, **Analysis of Variance (ANOVA)** is also used to analyze the differences among group means. The difference between t-test and ANOVA is the former is ued to compare two groups whereas the latter is used to compare three or more groups. [Read more about the difference between t-test and ANOVA](http://b.link/anova24).

From the ANOVA test, you receive two numbers. The first number is called the **F-value** which indicates whether your null-hypothesis can be rejected. The critical F-value that rejects the null-hypothesis varies according to the number of total subjects and the number of subject groups in your experiment. In [this table](http://b.link/eda14) you can find the critical values of the F distribution. **If you are confused by the massive F-distribution table, don't worry. Skip F-value for now and study it at a later time. In this challenge you only need to look at the p-value.**

The p-value is another number yielded by ANOVA which already takes the number of total subjects and the number of experiment groups into consideration. **Typically if your p-value is less than 0.05, you can declare the null-hypothesis is rejected.**

In this challenge, we want to understand whether there are significant differences among various types of pokemons' `Total` value, i.e. Grass vs Poison vs Fire vs Dragon... There are many types of pokemons which makes it a perfect use case for ANOVA.

In [11]:
# Import libraries
import pandas as pd
import numpy as np
from scipy import stats
from scipy.stats import f_oneway

In [12]:
# Load the data:
# Your code here:
pokemon_df = pd.read_csv('/Users/gopikagowthaman/Desktop/IRONHACK/week12/lab-hypothesis-testing-2/your-code/Pokemon.csv')
pokemon_df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

**To achieve our goal, we use three steps:**

1. **Extract the unique values of the pokemon types.**

1. **Select dataframes for each unique pokemon type.**

1. **Conduct ANOVA analysis across the pokemon types.**

#### First let's obtain the unique values of the pokemon types. These values should be extracted from Type 1 and Type 2 aggregated. Assign the unique values to a variable called `unique_types`.

*Hint: the correct number of unique types is 19 including `NaN`. You can disregard `NaN` in next step.*

In [13]:
# Extract unique values from both 'Type 1' and 'Type 2'
unique_types1 = set(pokemon_df['Type 1'].unique())
unique_types2 = set(pokemon_df['Type 2'].unique()) 

# Combine the two sets to get all unique types, including NaN
unique_types = unique_types1.union(unique_types2)

# Print the unique types and their count
print(unique_types)
print(len(unique_types))  # You should see 19 including NaN

{'Steel', 'Water', 'Ground', 'Bug', 'Poison', 'Psychic', 'Dragon', nan, 'Fire', 'Ghost', 'Rock', 'Normal', 'Electric', 'Fairy', 'Grass', 'Ice', 'Dark', 'Flying', 'Fighting'}
19

#### Second we will create a list named `pokemon_totals` to contain the `Total` values of each unique type of pokemons.

Why we use a list instead of a dictionary to store the pokemon `Total`? It's because ANOVA only tells us whether there is a significant difference of the group means but does not tell which group(s) are significantly different. Therefore, we don't need know which `Total` belongs to which pokemon type.

*Hints:*

* Loop through `unique_types` and append the selected type's `Total` to `pokemon_groups`.
* Skip the `NaN` value in `unique_types`. `NaN` is a `float` variable which you can find out by using `type()`. The valid pokemon type values are all of the `str` type.
* At the end, the length of your `pokemon_totals` should be 18.

In [14]:
# Create a list to store the Total values of each unique type of Pok√©mon
pokemon_totals = []

# Loop through unique_types and append the selected type's Total to pokemon_totals
for poke_type in unique_types:
    # Skip NaN values
    if isinstance(poke_type, str):
        # Append the Total values for the current type to the list
        pokemon_totals.append(pokemon_df[(pokemon_df['Type 1'] == poke_type) | (pokemon_df['Type 2'] == poke_type)]['Total'])

# Check the length of the pokemon_totals list (should be 18)
print(len(pokemon_totals))  # Output: 18
len(pokemon_totals) # you should see 18

18

18

#### Now we run ANOVA test on `pokemon_totals`.

*Hints:*

* To conduct ANOVA, you can use `scipy.stats.f_oneway()`. Here's the [reference](http://b.link/scipy44).

* What if `f_oneway` throws an error because it does not accept `pokemon_totals` as a list? The trick is to add a `*` in front of `pokemon_totals`, e.g. `stats.f_oneway(*pokemon_groups)`. This trick breaks the list and supplies each list item as a parameter for `f_oneway`.

In [15]:
# Your code here
# Run the ANOVA test on pokemon_totals
f_stat, p_value = stats.f_oneway(*pokemon_totals)

# Output the F-statistic and p-value
print(f"F-statistic: {f_stat}")
print(f"P-value: {p_value}")

F-statistic: 6.617538296005536
P-value: 2.6457458815984803e-15

#### Interpret the ANOVA test result. Is the difference significant?

In [18]:
# Your comment here
"""
Since the p-value (2.6457e-15) is much smaller than 0.05, we reject the null hypothesis.
This means that there is a statistically significant difference in the Total stats among the different Pok√©mon types.
The ANOVA test confirms that at least one Pok√©mon type has a significantly different average Total stat compared to others.
"""

'\nSince the p-value (2.6457e-15) is much smaller than 0.05, we reject the null hypothesis.\nThis means that there is a statistically significant difference in the Total stats among the different Pok√©mon types.\nThe ANOVA test confirms that at least one Pok√©mon type has a significantly different average Total stat compared to others.\n'